* {
	font-family:Helvetica, sans-serif;
}
body {
	#min-height:100%;
	#padding:0;
	#margin:0;
}
#wrapper {
	padding:0;
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
}
#googleMap {
	min-height:90%;
	#max-height:90%;
	#max-width: 100%;
}
footer  {
	float:left;
	#margin-bottom:-200px;
	height:10%;
	width: 100%;
	background-color: #0055D4;
	#position: relative;
}
.footerIcon1{
	 width: 100px;
	 height: 95px;
	background-color: red;
	float:left;
}
.footerIcon2{
	 margin: 0 auto;
	 background-color: red;
	 width: 100px;
	 height: 95px;
	 
}
.footerIcon3{
	position: relative;
	 float: right;
	 margin: 0 auto;
	 background-color: red;
	 width: 100px;
	 height: 95px;
}