* {
	font-family:Helvetica, sans-serif;
}
#wrapper {
	padding:0;
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
}
#googleMap {
	min-height:90%;
}
#nav  {
	float:left;
	height:10%;
	width: 100%;
	background-color: #0055D4;
	overflow: auto;
}
.footerIcon1{
	 width: 10%;
	 height: 100%;
	background-color: red;
	float:left;
}
.footerIcon2{
	 margin: 0 auto;
	 background-color: red;
	 width: 10%;
	 height: 100%;
	 
}
.footerIcon3{
	 position: relative;
	 float: right;
	 background-color: red;
	 width: 10%;
	 height: 100%;
}
.spacer {
    #background-color: green;
    #width: 35%;
	#height: 100%;
	
}
