* {
	font-family: Helvetica, sans-serif;
}

body {
	background-color: #3A3B3C;
}

.wrapper {
	padding: 0;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

nav {
	min-height: 50px;
	height: 10vh;
	width: 100%;
	position: relative;
	clear: both;
}

.infoIcon {
	display: block;
	min-height: 50px;
	min-width: 50px;
	width: 10vh;
	height: 10vh;
	float: left;
}

.logoIcon {
	display: block;
	margin: 0;
	position: absolute;
	min-height: 50px;
	min-width: 50px;
	height: 10vh;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -0%)
}

.helpIcon {
	display: block;
	position: relative;
	float: right;
	width: 10vh;
	min-height: 50px;
	min-width: 50px;
	height: 10vh;
}