* {
	font-family: Helvetica, sans-serif;
}

#wrapper {
	padding: 0;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: #E0DCD5;
}

#nav  {
	height: 10vh;
	width: 100%;
	overflow: auto;
	position: relative;
}

.infoIcon{
	display: block;
	width: 10vh;
	height: 10vh;
	float: left;
}

.logoIcon{
	display: block;
	margin: 0;
	position: absolute;
	height: 10vh;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -0%)
}

.helpIcon{
	display: block;
	position: relative;
	float: right;
	width: 10vh;
	height: 10vh;
}